
<button class="ui button" (click)="logout()">Logout</button>
<div style="width: 1500px;">
  <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-blue"
      [gridOptions]="gridOptions"
      [columnDefs]="columnDefs"
      [showToolPanel]="showToolPanel"
      [rowData]="rowData"


      enableColResize
      enableSorting
      enableFilter
      groupHeaders
      toolPanelSuppressGroups
      toolPanelSuppressValues
      rowHeight="22"
      rowSelection="multiple"
      (cellValueChanged) = "onCellValueChanged($event)">
    <!--<ag-grid-column headerName="Date">
      <ag-grid-column headerName="Applied" field="date" [width]="100" [suppressSorting]="true" [suppressMenu]="true" [editable] = "true"></ag-grid-column>
      <ag-grid-column headerName="Since Applied" field="remaining" [width]="120" [editable] = "true"></ag-grid-column>
    </ag-grid-column>
    <ag-grid-column headerName="Company">
      <ag-grid-column headerName="Name" field="companyName" [width]="150" [editable] = "true" ></ag-grid-column>
      <ag-grid-column headerName="Position" field="position" [width]="150" [editable] = "true"></ag-grid-column>
    </ag-grid-column>
    <ag-grid-column headerName="Contact">
      <ag-grid-column headerName="Name" field="contactName" [width]="150" [editable] = "true"></ag-grid-column>
      <ag-grid-column headerName="Email" field="contactEmail" [width]="150" [editable] = "true"></ag-grid-column>
      <ag-grid-column headerName="Number" field="contactNumber" [width]="150" [editable] = "true"></ag-grid-column>
    </ag-grid-column>
    <ag-grid-column headerName="Comments" field="comments" [width]="150" [editable] = "true"></ag-grid-column>
    <ag-grid-column headerName="Interview" field="interview" [width]="100" [checkboxSelection] = "true"></ag-grid-column>
    <ag-grid-column headerName="Pursuing" field="pursuing" [width]="100" [checkboxSelection] = "true"></ag-grid-column>-->
  </ag-grid-ng2>
</div>
<button class="ui button primary" (click)="this.redirectToJob()">Add Job</button>
<button class="ui button primary" (click)="this.removeJob()">Remove Job</button>
<button class="ui button primary" (click)="this.goToJob()">Go To Job</button>
<div>{{saveNotification}}</div>