<h1>
  Welcome Back, {{name}}!
</h1>
<button class="ui button" (click)="redirectToAccountSettings()">Account Settings</button>
<button class="ui button" (click)="logout()">Logout</button>


<a class="icon-linkedin" rel="nofollow"
    href="http://www.linkedin.com/"
    onclick="popUp=window.open(
        'http://www.linkedin.com/shareArticle?url=http://example.com',
        'popupwindow',
        'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="visuallyhidden">share on linkedin</i>
</a>

<div style="width: 1000px;">
  <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-blue"
      [gridOptions]="gridOptions"
      [showToolPanel]="showToolPanel"
      [rowData]="rowData"

      enableColResize
      enableSorting
      enableFilter
      groupHeaders
      toolPanelSuppressGroups
      toolPanelSuppressValues
      rowHeight="22"
      rowSelection="multiple"
      (cellValueChanged) = "onCellValueChanged($event)"
      >
    <ag-grid-column headerName="Date">
      <ag-grid-column headerName="Applied" field="date" [width]="100" [suppressSorting]="true" [suppressMenu]="true" [editable] = "true"></ag-grid-column>
      <ag-grid-column headerName="Since Applied" field="remaining" [width]="120" [editable] = "true"></ag-grid-column>
    </ag-grid-column>
    <ag-grid-column headerName="Company">
      <ag-grid-column headerName="Name" field="companyName" [width]="150" [editable] = "true" ></ag-grid-column>
      <ag-grid-column headerName="Position" field="position" [width]="150" [editable] = "true"></ag-grid-column>
    </ag-grid-column>
    <ag-grid-column headerName="Contact">
      <ag-grid-column headerName="Name" field="contactName" [width]="150" [editable] = "true"></ag-grid-column>
      <ag-grid-column headerName="Email" field="contactEmail" [width]="150" [editable] = "true"></ag-grid-column>
      <ag-grid-column headerName="Number" field="contactNumber" [width]="150" [editable] = "true"></ag-grid-column>
    </ag-grid-column>
    <ag-grid-column headerName="Comments">
      <ag-grid-column headerName="Experiences" field="comments" [width]="150" [editable] = "true"></ag-grid-column>
    </ag-grid-column>
  </ag-grid-ng2>
</div>
<button class="ui button primary" (click)="this.redirectToJob()">Add Job</button>
<button class="ui button primary" (click)="this.removeJob()">Remove Job</button>
<div>{{saveNotification}}</div>
<!--<button class="ui button primary" (click)="myModalNormal.show({inverted: true})">Click me</button>
<sm-modal title="Hello from Modal" class="" icon="home" #myModalNormal>
    <modal-content>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </modal-content>
    <button>
        <div class="ui buttons">
            <div class="ui button primary" (click)="myModalNormal.hide()">Close modal</div>
        </div>
    </button>
</sm-modal>-->