<p>
  main works!
</p>
<div style="width: 800px;">
   <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-fresh"
                     [gridOptions]="gridOptions"
                     [showToolPanel]="showToolPanel"
                     [rowData]="rowData"

                     enableColResize
                     enableSorting
                     enableFilter
                     groupHeaders
                     suppressRowClickSelection
                     toolPanelSuppressGroups
                     toolPanelSuppressValues
                     rowHeight="22"
                     rowSelection="multiple">
  <ag-grid-column headerName="Date">
    <ag-grid-column headerName="Applied" field="date-applied" [width]="100" [suppressSorting]="true" [suppressMenu]="true"></ag-grid-column>
    <ag-grid-column headerName="Since Applied" field="days-since-applied" [width]="120" ></ag-grid-column>
  </ag-grid-column>
  <ag-grid-column headerName="Company">
    <ag-grid-column headerName="Name" field="name" [width]="150" ></ag-grid-column>
    <ag-grid-column headerName="Position" field="position" [width]="150" ></ag-grid-column>
  </ag-grid-column>
  <ag-grid-column headerName="Contact">
    <ag-grid-column headerName="Name" field="name" [width]="150" ></ag-grid-column>
    <ag-grid-column headerName="Email" field="email" [width]="150" ></ag-grid-column>
    <ag-grid-column headerName="Number" field="number" [width]="150" ></ag-grid-column>
  </ag-grid-column>
  <ag-grid-column headerName="Comments">
    <ag-grid-column headerName="Experiences" field="experiences" [width]="150" ></ag-grid-column>
  </ag-grid-column>
  </ag-grid-ng2>
</div>