<p>
  signup-settings works!
</p>

<button class="ui button" (click)="logout()">Logout</button>

<h2>Goals & Notification Settings</h2>
<small>Settings can be changed later in Account Settings</small>

<form [formGroup]="signupSettingsForm" class="ui form" (ngSubmit)="applySignupSettings(signupSettingsForm.value)">

  <div>
    <label>
      I would like to complete <input type="text" class="ui form one wide field inline" [formControl]="signupSettingsForm.controls['setGoals']"> applications a week.
    </label>
  </div>
  Receive E-mail notifications regarding upcoming interviews and goal updates?
  <div *ngFor="let receiveEmail of receiveEmails">
    <label>
      <input type="radio" name="receiveEmail" [value]="receiveEmail.value" [formControl]="signupSettingsForm.controls['receiveEmails']">
      {{receiveEmail.display}}
    </label>
  </div>
  <button class="ui button" (click)="redirectToMainPage()">Skip</button>
  <button class="ui button" type="submit">Save</button>
</form>


